.oneProduct .mainSection .container {
  padding-top: 80px;
  padding-bottom: 140px;
}
.pageWay {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 80px;
}
.pageWay p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
}
.activePage {
  color: #000 !important;
}
.mainBlock {
  display: flex;
  justify-content: start;
  gap: 70px;
}
.leftSide {
  display: flex;
  gap: 30px;
}
.itemImgs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.itemImg {
  width: 170px;
  height: 138px;
  /* padding: 12px 24px; */
  background-color: #f5f5f5;
}
.itemImg img {
  width: 170px;
  height: 138px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.mainImg {
  width: 500px;
  height: 600px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 27px;
}
.mainImg img {
  width: 100%;
  object-fit: contain;
}
/* Styling right side */
.productTitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 3%;
  padding-bottom: 16px;
}
.rating {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 16px;
}
.rating .rate {
  gap: 8px;
  display: flex;
  align-items: center;
}
.rating .rate p {
  color: #808080;
}
.rating span {
  width: 1px;
  height: 16px;
  background-color: #808080;
}
.stock {
  color: #00ff66;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 0;
}
.price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}
.productInfo {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 24px;
  border-bottom: #808080 solid 1px;
  margin-bottom: 24px;
  line-height: 21px;
}
.colours {
  display: flex;
  padding-bottom: 24px;
  gap: 16px;
}
.selectColor {
  display: flex;
  gap: 10px;
}
.colours .blueColor {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin-left: 16px;
  background-color: #a0bce0;
}
.redColor {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: red;
}
.color.active {
  border: 3px solid black;
  padding: 5px;
}

.size {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.selectSize {
  display: flex;
  align-items: center;
  gap: 16px;
}
.selectSize span {
  border: 1px solid #00000080;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectSize span p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.selectSize span.active {
  background-color: #db4444;
  border: none;
  color: white;
}
.mainBtns {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
  padding-top: 24px;
}
.counter {
  display: flex;
}
.counter button {
  width: 40px;
  border: 1px solid #808080;
  height: 44px;
  font-size: 24px;
}
.counter button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: transparent;
}
.counter button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #db4444;
  color: white;
}
.countValue {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  width: 80px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBtns .buyNowBtn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  padding: 10px 48px;
  border-radius: 4px;
  background-color: #db4444;
  border: none;
}
.likeBtn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid #808080;
}
.likeBtn i.liked{
  color: #DB4444;
}
.readMoreBtn{
  border: none;
  background-color: transparent;
  color: blue;
}
.noVis{
  display: none;
}
.freeDelivery {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border: 1px solid #808080;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.freeDelivery h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 8px;
}
.freeDelivery p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: underline;
}
.returnDelivery {
  border-radius: 0;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Styling section 2 */

.oneProduct .sectionType {
  padding-bottom: 70px;
}
.bestSelling .swiper-slide{
  margin-bottom: 30px;
}
.swiper-pagination{
  bottom: -20px !important;
  top: 380px !important;
}