.signUpText {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.signUp .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 178px;
  padding-bottom: 178px;
}

.signUp {
  position: relative;
}

.signUpImg {
  position: absolute;
  left: 0px;
}

.signUpText h1 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 24px;
}

.signUpText p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 48px;
}

.signUpText input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 8px 0px;
}

.signUpText button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  gap: 10px;
}

.signUpText h5 {
  text-align: center;
  padding-top: 32px;
  font-size: 16px;
  font-weight: 400;
}

.signUpText .Account {
  padding: 16px 48px;
  background-color: #db4444;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}
.google {
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 0.5px solid black;
}
